@font-face {
	font-family: 'Stella';
	src:url(../../assets/fonts/Stella/Stella.ttf) format('truetype'),
	url(../../assets/fonts/Stella/Stella.woff2) format('woff2'),
	url(../../assets/fonts/Stella/Stella.woff) format('woff');
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family: 'whateverittakes';
	src:url(../../assets/fonts/whateverittakes/whateverittakes.ttf) format('truetype'),
	url(../../assets/fonts/whateverittakes/whateverittakes.woff2) format('woff2'),
	url(../../assets/fonts/whateverittakes/whateverittakes.woff) format('woff');
	font-weight:400;
	font-style:normal;
}