<div class="coolrow">
      <div class="coolrow-teaser">
        <h1 class="title">Mon ADN, mon approche...</h1>
        <div class="bootstrap-iso">
          <div class="container">
            <div class="row">
				<div class="col-sm">
					<h3>Au service des équipes et des projets avant tout.</h3>
					<p>Les outils numériques et les approches Design me permette de vous accompagner au sein des projet et des équipes sur des volets diversifiés :</br>
					Insatiable curieux et touche à tout, n'ayant pas peur d'apprendre, </br>
					De fait je me résumerais par des verbes :</br>
					Créer, faire, faire faire et apprendre à faire faire...</br> 
				</div>
				<div class="col-sm">
					<div class="LI-profile-badge" align="center" data-width="100%" data-version="v1" data-size="large"  data-locale="fr_FR" data-type="horizontal" data-theme="light" data-vanity="antoinegouy">
						<a class="LI-simple-link" href='https://fr.linkedin.com/in/antoinegouy?trk=profile-badge' > 
						<img src='/assets/img/content/fakelinkedin.jpg' alt="Badge Linkedin d'Antoine Gouy"></img>
					</a></div>
				</div>
			</div>
          </div>
		</div>
      </div>
</div>


