---
layout: default
---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
        {{ page.title }}
    </h1>
    
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
      
  </header>
  
  <section class="post-content">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}
  {{ content }}
  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>
    
</article>

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      {% if post.thumbnail %} 
      <div class="post-img">
         <img src="../{{ site.baseurl }}/{{ post.thumbnail }}">
      </div>
      {% endif %}
      <span>
          <header>
            <h1>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h1>
            <p class="meta">
            {% assign m = page.date | date: "%-m" %}
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }}
            {% case m %}
            {% when '1' %}Janvier
            {% when '2' %}Février
            {% when '3' %}Mars
            {% when '4' %}Avril
            {% when '5' %}Mai
            {% when '6' %}Juin
            {% when '7' %}Juillet
            {% when '8' %}Août  
            {% when '9' %}Septembre
            {% when '10' %}Octobre
            {% when '11' %}Novembre
            {% when '12' %}Décembre
            {% endcase %}
            {{ page.date | date: "%Y" }}
            </p>
          </header>
          <div class="excerpt">
              {{ post.excerpt | strip_html | escape }}
            <!--{{ post.content | strip_html | truncate: "250" }}-->
            <!--<a class="button" href="{{ post.url | prepend: site.baseurl }}">
              {{ site.theme_settings.str_continue_reading }}
            </a>-->
          </div>
      </span>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
